name: unit

on:
    push:
    pull_request:
        branches:
            - main

# To cancel running workflow when new commits pushed in a pull request
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    unit:
        name: unit tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Import environment variables from file
              run: cat ".github/env" >> "$GITHUB_ENV"
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "${{ env.golang-version }}"
                  check-latest: true
            - run: make test-unit
